extends layout

block content
  section.about-section
    .flex.flex-sb.about-section
      img#flowers(src='img/Flowers.jpg')
      p.about-text.
        I graduated from Berkeley with a degree in 
        Computer Science in December 2022. Since 
        then, I've been traveling, working on 
        passion projects, and spending time with 
        family and friends.