extends layout

block content
  section.about-section
    .flex.flex-sb.about-section
      img#flowers(src='img/Flowers.jpg')
      p.about-text.
        I graduated from UC Berkeley with a BA in 
        Computer Science in December 2022. Since 
        then, I've been traveling, working on 
        passion projects, and spending time with 
        family and friends.
        #[br]#[br]
        I love to solve problems efficiently, and 
        think strategically. When not at work, I 
        scratch this itch with various strategic 
        board and video games. I have a 
        gigantic board game shelf full of complex 
        strategy games like <i>Scythe</i>, 
        <i>Dominion</i>, and <i>Axis & Allies</i> 
        that is constantly growing at an alarming 
        rate. Some of my favorite video games are 
        <i>Dwarf Fortress</i>, <i>Sid Meier's 
        Civilization</i>, and <i>Northgard</i>. 
        #[br]#[br]
        I'm an avid 
        #[a#about-link(href="https://www.usquadball.org/about/how-to-play") Quadball] 
        player (also known as Quidditch, the wizard 
        sport from Harry Potter). I played for the 
        UC Berkeley Quadball team all through 
        university, including two years as team 
        captain, and finishing second in the nation 
        twice. Since graduation I've been helping to 
        develop the Berkeley team and playing on 
        bay area club teams with friends.
