extends layout

block navbar
  .navbar.animate.fade-in.fourth
    a(href="/") Home
    a(href="/about") About
    a(href="/projects") Projects
    //a(href="/contact") Contact
    //a(href='/DevBlog') DevBlog
  
block content
  section.flex-index.flex-column
    .flex-index.flex-left
      .typewriter#first-line
        h1 Hi, I'm Harry.
    div
      .typewriter#second-line
        h1 I'm a software engineer.
  //-
    section.section-two
    section.section-three 
      .flex-column
        span.flex-left 
          img#headshot(src="img/Headshot.jpg")
          p. 
            I make websites, apps, games, and all sorts 
            of other software systems. I have a deep 
            interest in networking and cybersecurity.
        h1 Want to see what I've done?
        button.button Click Here

    

//
  section.flex-center
    img.animate.second.shrink(src='img/Headshot.jpg')
    .flex-left
      h3.animate.second.shrink#hello= "Hi, I'm Harry"
  .flex-columns.animate.fade-in.second
    h2 Penis 
    h2 ballsack
    h2 Efficiency
    h2 Weenie
//
    

    
block footer
  .footer.animate.fade-in.fourth
    a(href="https://www.linkedin.com/in/harrison-dill-399a66183/") LinkedIn
    a(href="https://berkeley.joinhandshake.com/stu/users/14476092") Handshake