doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar
      div.navbar
        a(href="/") Home
        a(href="/about") About
        a(href="/projects") Projects
        a(href="/contact") Contact
    block content