@import "variables";
@import "animations";
@font-face { font-family: Modeseven; src: url('/fonts/Modeseven.ttf'); } 

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: black;
  box-sizing: border-box;
  position: relative;
}

.terminal-line {
  color: white;
  font-size: 100px;
  animation-duration: 0s;
  margin-left: 20px;
}
.terminal-line:nth-child(2){
  animation-delay: 1s;
}
.terminal-line:nth-child(3){
  animation-delay: 1.1s;
}
.terminal-line:nth-child(4){
  animation-delay: 1.2s;
}
.terminal-line:nth-child(5){
  animation-delay: 1.3s;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

.navbar > a, .footer > a {
  position:relative;
  margin: 1rem;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: Modeseven;
}

a::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -6px;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
  background-color: white;
  transform-origin: right;
}

a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.navbar {
  display: flex;
  align-items: stretch;
  background-color: darkgrey;
  height: 3rem;
  width: 100%;
  opacity: 1.0;
}

.footer {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  background-color: darkgrey;
  position: absolute;
  bottom: 0px;
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  height: 80vh;
  overflow:hidden;
}

.section-two {
  background-image: linear-gradient(black, white);
  height: 20vh;
}

.section-three {
  background-color: white;
  height: 100vh
}

h1 {
  color: white;
  font-size: 50px;
  font-family: Modeseven;
  margin: 0px;
  padding-bottom: 20px;
}

// flexboxes

.flex {
  display: flex;
  width: 100%;
}

.flex-index { //this only exists because width 100% broke index for some reason
  display: flex;
}

.flex-columns {
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin: 30px;
}

.flex-sb {
  justify-content: space-between;
  align-items: center;
}

.flex-sa {
  justify-content: space-around;
  align-items: center;
}

.flex-left{
  justify-content: left;
  align-items: flex-start;
  justify-items:start;
  text-align: left;
}

.flex-d-rr {
  flex-direction: row-reverse;
}

img {
  max-width: 100%;
  object-fit:scale-down;
}

.about-text {
  color: white;
  font-size: 20px
}

p {
  margin: 30px;
  line-height: 30px; 
}

.about-section {
  height: 100vh;

}

.project-section {
  margin: 30px;
  height:max-content;
  vertical-align: middle;
}

.project-text-box {
  width: 60vw;
  height: inherit;
  margin: 30px;
}

.project-image {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  outline-color: white;
  outline-width: 3px;
  outline-style: dashed;
  
}

.project-image.byow {
  background: url("../../img/byow.png") 50% 50% no-repeat;
}

.project-image.scheduler {
  background: url("../../img/schedule-request.png") 50% 50% no-repeat;
}

.project-image.website {
  background: url("../../img/portfolio-site-screenshot.png") 0% 60% no-repeat;
}

.project-image.zork {
  background: url("../../img/zork.png") 50% 50% no-repeat;
}

.project-image.map {
  background: url("../../img/map.jpeg") 50% 50% no-repeat;
}

.project-image.bearmaps {
  background: url("../../img/bearmaps.png") 50% 30% no-repeat;
}

.project-image.poker {
  background: url("../../img/poker.jpg") 30% 30% no-repeat;
}

.project-image.dice {
  background: url("../../img/dice.png") 45% 30% no-repeat;
}

.project-image.solar-system {
  background: url("../../img/solar-system.png") 30% 33% no-repeat;
}

.project-image.ants {
  background: url("../../img/ants.png") 32% 38% no-repeat;
}

.project-text {
  color: white;
  font-size: 20px;
  margin: 0;
}

.button {
  vertical-align: middle;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 20%;
  transition-duration: 1s;
  margin: 20px;
}

.button-text {
  padding: 10px;
  font-weight: bold;
}

.button:hover {
  color: black;
  background-color: white;
}

.text-divider {
  background-color:darkgrey;
  height: 10vh;
}

.divider {
  background-color:darkgrey;
  height: 1vh;
}

.small-black-divider {
  background-color: black;
  height: 1vh;
}

#flowers {
  width:50vw;
  object-fit:cover;
}

.no-margin {
  margin: 0px;
  padding:0px;
}


