@import url("variables.scss");

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a:visited {
  color: inherit;
}

.navbar > a, .footer > a {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  color: primaryColor;
  text-decoration: none;
}
.navbar > a:hover, .footer > a:hover {
  color: #606060
}

.navbar {
  display: flex;
  align-items: stretch;
  background-color: #0909;
  height: 3rem;
  width: 100%;
  opacity: 1.0;
}

.footer {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}